@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h2 class="display-4">Accountant:</h2>
    <h3 class="display-4">Accountant@demo.com</h3>
    <h3 class="display-4">Demo1234!</h3>
    <hr />
</div>

<div class="text-center">
    <h2 class="display-4">Manager:</h2>
    <h3 class="display-4">Manager@demo.com</h3>
    <h3 class="display-4">Demo1234!</h3>
    <hr />
</div>

<div class="text-center">
    <h2 class="display-4">Admin:</h2>
    <h3 class="display-4">Admin@demo.com</h3>
    <h3 class="display-4">Demo1234!</h3>
    <hr />
</div>
