@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    <h1 class="text-center">Demo Accounts</h1>      
    <hr />
    <h2 class="text-center mt-5">Default Role</h2>
    <p class="text-center">Login: accountant@demo.com</p>
    <p class="text-center">Password: Demo12343!</p>
    <p>Der Default User ist als "Buchhalter" zu sehen. Buchhalter können Rechnungen erstellen und nur die eigens erstellen Rechnungen sehen/bearbeiten.</p>

    <h2 class="text-center mt-5">Manager Role</h2>
    <p class="text-center">Login: manager@demo.com</p>
    <p class="text-center">Password: Demo12343!</p>
    <p class="text-center">Ein Manager sieht alle Rechnungen und kann diese "Approven" oder "Rejecten" zusätzlich kann er Rechnungen erstellen und eigene Rechnungen bearbeiten.</p>
    
    <h2 class="text-center mt-5">Admin Role</h2>
    <p class="text-center">Login: admin@demo.com</p>
    <p class="text-center">Password: Demo12343!</p>
    <p class="text-center">Admins können alle Rechnungen bearbeiten/rejecten/löschen</p>
       
</div>
