@page
@using IdentityApp.Authorization

@model IdentityApp.Pages.StatisticsModel

@{
    ViewData["Title"] = "Statistics";
}

<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
</head>

@if (!User.IsInRole(Constants.InvoiceAdminRole))
{
    <h1>Only Admin Account admin@demo.com can see this Statistics Chart please log into that Account to see revenue Charts </h1>
}


@if (User.IsInRole(Constants.InvoiceAdminRole))
{
    <div>
        <canvas id="myChart" width="200" height="200"></canvas>
    </div>
}


@section Scripts{
    <script>

        const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July',
            'August',
            'September',
            'October',
            'November',
            'December'
        ];

        const data = {
            labels: labels,
            datasets: [
                {
                    label: "Revenue Submitted",
                    backgroundColor: "rgb(0,0,0)",
                    borderColor: "rgb(0,0,0)",
                    cubicInterpolationMode: "monotone",
                    data: @Json.Serialize(Model.revenueSubmitted)
                                },
                {
                    label: "Revenue Approved",
                    backgroundColor: "rgb(99,255,132)",
                    borderColor: "rgb(99,255,132)",
                    cubicInterpolationMode: "monotone",
                    data: @Json.Serialize(Model.revenueApproved)
                                },
                {
                    label: "Revenue Rejected",
                    backgroundColor: "rgb(255,99,132)",
                    borderColor: "rgb(255,99,132)",
                    cubicInterpolationMode: "monotone",
                    data: @Json.Serialize(Model.revenueRejected)
                                }
            ]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

    </script>
}